body {
    font-family: Arial, sans-serif;
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
a {
    text-decoration: none;
}
.product-item {
    width: 220px;
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    border-radius: 5px;
}
.back-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}
.back-button:hover {
    background-color: #45a049;
}
.addtocart {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 .addtocart:hover {
    background-color: #218838;
}